/*@font-face {*/
    /*font-family: 'Akkurat-Mono';*/
    /*src: url('http://rozon.org/fonts/Akkurat-Mono.eot'); !* IE9 Compat Modes *!*/
    /*src: url('http://rozon.org/fonts/Akkurat-Mono?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('http://rozon.org/fonts/Akkurat-Mono.woff2') format('woff2'), !* Super Modern Browsers *!*/
    /*url('http://rozon.org/fonts/Akkurat-Mono.woff') format('woff'), !* Pretty Modern Browsers *!*/
    /*url('http://rozon.org/fonts/Akkurat-Mono.ttf')  format('truetype'), !* Safari, Android, iOS *!*/
    /*url('http://rozon.org/Akkurat-Mono.svg#svgFontName') format('svg'); !* Legacy iOS *!*/
/*}*/

body {
    background-color: rgb(102,54,232);
    font-family: 'Akkurat-Mono', monospace;
}

div#container{
    width: 500px;
    /*height: 500px;*/
    /*cursor: none;*/
    /*transform: translate3d(0, 0, 0);*/
}

canvas#simplyBorder {
    z-index: -5;
    position: absolute;
    border: 1px solid aquamarine;
}


canvas#enemies {
    z-index: 0;
    position: absolute;
    border: 1px solid aquamarine;
}

canvas#hyperSpace {
    z-index: 4;
    position: absolute;
    /*border: 1px solid aquamarine;*/
}

canvas#objectives {
    z-index: 1;
    position: absolute;
}

/*canvas#pointer {*/
    /*z-index: 2;*/
    /*position: absolute;*/
/*}*/

canvas#user {
    z-index: 2;
    position: absolute;
}

div#info {
    position: absolute;
    width: 480px;
    top: 525px;
    padding: 10px;
}

.markers {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 0 0 0;
    color: aquamarine;
    font-size: 13px;
    text-transform: uppercase;
    /*these are the disable text select unique identifiers*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

.number {
    color: white;
}

h6#level {
   float: right;
}

div#title-wrapper {
    position: absolute;
    text-align: center;
    left: 75px;
    top: 78px;
    z-index: 5;
}

div#end-wrapper {
    position: absolute;
    text-align: center;
    z-index: 5;
    color: white;
    text-transform: uppercase;
    margin-top: 137px;
}

#end-title, #end-score-header, #final-score {
    margin-left: 190px;
}

p#final-score {
    font-size: 65px;
    margin-top: 0;
}

p#end-title {
    margin-bottom: 0;
}

p#end-score-header {
    margin-top: 0;
}

h1 {
    color: white;
    font-size: 52px;
}

h2 {
    color: white;
    font-size: 10px;
    margin-top: 50px;
}

p.story {
    color: white;
    font-size: 11px;
    width: 350px;
    margin-top: 30px;
}

button#game-start {
    padding: 10px;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    font-family: 'Akkurat-Mono', monospace;
    font-size: 14px;
    background-color: transparent;
    left: 25%;
    top: 55%;
}

button#game-start:hover {
    background-color: white;
    color: rgb(102,54,232);
}

.show {
    display: block;
    visibility: visible;
}

.hide {
    display: none;
    visibility: hidden;
}

#logo {
    display: table-row-group;
    margin: 50px 0 50px 20px;
}

.again {
    margin-left: 67%;
}

.clear-link {
    color: white;
}